/* nato serif link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font-1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Inter link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.primary-color{
    color: #E95A08;
}
.dark-1{
    color: black;
}
.dark-2{
    color: #111111;
}
.dark-3{
    color: rgba(0, 0, 0, 0.5);
}
.dark-4{
    color: #252432;
}
.dark-5{
    color: #8987A1;
}
.display-flex{
    display: flex;
}
.hide{
    display: none;
}
/* navbar styles */
.header{
    max-width: 1220px;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    height: 4.2rem;
}
.navbar .logo img{
    height: 4.2rem;
}

.nav-item li{
    list-style: none;
    padding-left: 2rem;
}
.nav-item li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
#home{
    font-weight: 700;
}
/* banner styles */
.banner{
    max-width: 1220px;
    margin: 7.5rem auto;
    justify-content: space-between;
}
.banner-left{
    max-width: 570px;
}
.banner-right{
    align-items: flex-end;
}
.banner-right img{
    width: 100%;
    bottom: 22.25rem;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1.275rem;
}
/* Our plant style */
.our-plant{
    max-width: 1220px;
    margin: 7.5rem auto;
    text-align: center;
}
.our-plant-title{
    font-size: 3.1rem;
    font-weight: 700;
}
.our-plant-description{
    font-size: 1.275rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: calc(100% - 30px);
}
.card img{
    width: 100%;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 500;
}
.card-price{
    font-size: 1.5rem;
    font-weight: 700;
}
.add-to-cart-btn{
    width: 100%;
    background-color: #E95A08;
    border: none;
    color: white;
    padding: 13px 0px;
    font-size: 1rem;
    text-transform: uppercase;
}
/* flower lover styles */
.flower-lover{
    max-width: 1220px;
    margin: 7.5rem auto;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.flower-lover .img{
    width: 540px;
}
.flower-lover .img img{
    width: 100%;
}
.flower-lover-content{
    max-width: 540px;
    padding: 44px;
    position: relative;
}
.flower-lover-title{
    font-size: 3.1rem;
    font-weight: 700;
}
.flower-lover-content ul li{
    font-size: 1.275rem;
    font-weight: 500;
}
.badge{
    position: absolute;
    height: 300px;
    width: 300px;
    top: -180px;
    left: -200px;
}
.badge img{
    width: 100%;
    animation: spin infinite 3s linear;
}
/* animation style */
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
/* latest deal styles */
.latest-deal{
    max-width: 1220px;
    margin: 7.5rem auto;
}
.latest-deal-title{
    text-align: center;
    font-size: 3.1rem;
}
.latest-deal-description{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.275rem;
}
.latest-deal-container{
    max-width: 1220px;
    display: grid;
    gap: 20px;
    margin: 7.5rem auto;
    
    grid-template-areas: 
    "deal-1     deal-3      deal-3      deal-3"
    "deal-1     deal-3      deal-3      deal-3"
    "deal-2     deal-3      deal-3      deal-3"
    "deal-2     deal-3      deal-3      deal-3"
    ;
}
.deal-1{
    background-image: url('../assets/deal-bloom.png');
     fill: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    grid-area: deal-1;
    border-radius: 10px;
    height: 200px;
     background-size: cover;
}
.deal-2{
    background-image: url('../assets/deal-ana.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: deal-2;
    border-radius: 10px;
    height: 200px;
     fill: rgba(0, 0, 0, 0.4);
}
.deal-3{
    background-image: url('../assets/deal-zabo.png');
    fill: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    grid-area: deal-3;
    border-radius: 10px;
     background-size: cover;
    height: 420px;
}
.deal-content{
    padding: 55px 48px;
}
#deal-3{
    padding: 145px 220px;
}
.deal-title{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}
.deal-sub-title{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
}
#deal-3 .deal-title{
    font-size: 2.5rem;
}
#deal-3 .deal-sub-title{
    font-size: 1.9rem;
}

/* join section styles */
.join{
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1220px;
    margin: 7.5rem auto;
    padding: 190px 275px;
    align-items: center;
    margin: 0px auto;
}
.join-title{
    font-size: 3.1rem;
    font-weight: 700;
    color: white;
    text-align: center;
}
#email{
    padding: 15px;
    width: 80%;
}
.subscribe-btn{
    width: calc(100% -5px);
    padding: 15px 30px;
    margin-left: -3px;
    background-color: #E95A08;
    color: white;
    border: none;
    font-size: 1rem;
}
/* footer section styles */
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1220px;
    margin: 2.5rem auto;
    column-gap: 1.5rem;
}
.footer-description{
    font-size: 1.275rem;
}
.list-item-1 li,
.list-item-2 li{
    list-style: none;
    margin-bottom: 20px;
}

.list-item-1 li a,
.list-item-2 li a{
    text-decoration: none;
    color: #8987A1;
}
.footer-icon img{
   padding-left: 1.7rem;
}
/* Responsive design for mobile*/
@media screen and  (max-width:576px){
     .header .nav-item .hidden-items{
        display: none;
     }
    .banner{
      flex-direction: column-reverse;
    }
    .banner-left{
        width: 100%;
    }
    
    .our-plant{
        width: 100%;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .flower-lover{
        flex-direction: column;
    }
    .flower-lover .img{
        width: 90%;
    }
    .badge{
        display: none;
    }
    .latest-deal-container{
        grid-template-areas: 
        "deal-1     deal-1      deal-1      deal-1"
        "deal-2     deal-2      deal-2      deal-2"
        "deal-3     deal-3      deal-3      deal-3"
        ;
    }
    .deal-3, .deal-2, .deal-1{
        height: 220px;
        width: 98%;
    }
    #deal-3{
        padding: 50px 45px;
    }
    #deal-3 .deal-title{
        font-size: 1.25rem;
    }
    #deal-3 .deal-sub-title{
        font-size: 1rem;
    }
    .join{
        padding: 70px 15px;
    }
    .join-title{
        font-size: 2rem;
    }
    #email{
        width: 60%;
    }
    .subscribe-btn{
        width: calc(100% - 75%);
        padding: 15px 0px;
    }
    .footer{
        grid-template-columns: repeat(1, 1fr);
    }
    .list-item-2{
        margin-top: -20px;
    }
    
}
